@mixin center-item($flex, $content, $align) {
    display: $flex;
    justify-content: $content;
    align-items: $align;
}

@mixin befo($bg, $width, $height) {
    position: absolute;
    content: '';
    background: $bg;
    width: $width;
    height: $height;
}

@mixin trans($time) {
    transition: $time;
}

$dark: #24262d;
$black: #000;
$orange: #DE9E53;
$red: #c33c1b;
$light-gray: #F4F5FB;
$gray: #c2c5d4;
$dark-gray: #B0B3BC;
$white: #fff;
// $dark-blue: #1E2958;
// $blue: #007DB6;
$dark-blue: #257fcc;
$blue: #2d8bdd;

// input::-webkit-outer-spin-button,
// input::-webkit-inner-spin-button {
//   -webkit-appearance: none;
//   margin: 0;
// }

// /* Firefox */
// input[type="number"] {
//     -moz-appearance: textfield;
// }

.truncate-h {
    overflow: hidden;
    word-break: break-word;
    display: -webkit-box;
    -webkit-box-orient: vertical;
}

[data-line="1"] {
    -webkit-line-clamp: 1;
}

[data-line="2"] {
    -webkit-line-clamp: 2;
}

[data-line="3"] {
    -webkit-line-clamp: 3;
}

[data-line="4"] {
    -webkit-line-clamp: 4;
}

.row-gutter-10 {
    margin-right: -10px;
    margin-left: -10px;

    >.col,
    >[class*="col-"] {
        padding-right: 10px;
        padding-left: 10px;
    }
}

.row-gutter-8 {
    margin-right: -8px;
    margin-left: -8px;

    >.col,
    >[class*="col-"] {
        padding-right: 8px;
        padding-left: 8px;
    }
}

.row-gutter-5 {
    margin-right: -5px;
    margin-left: -5px;

    >.col,
    >[class*="col-"] {
        padding-right: 5px;
        padding-left: 5px;
    }
}

@mixin hover {
    &:hover {
        color: $orange;
    }
}

a,
img,
span,
i {
    transition: all .2s;
}

a:hover {
    text-decoration: none;
}

.ul-reset,
.ul-block {
    margin: 0;
    padding: 0;
    list-style: none;
}

.ul-reset {
    display: flex;
}

.ul-block {
    display: block;
}

.flex-item {
    @include center-item(flex, space-between, center);
}

.img {
    object-fit: cover;
    width: 100%;
}

.btn-style {
    background: $dark;
    padding: 1.2rem 3rem;
    text-decoration: none;
    transition: all .3s;
    color: $white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
    position: relative;
    border-radius: 0;
    border: none;
    font-weight: bold;
    font-size: .8rem;
    text-transform: uppercase;

    &::before {
        @include befo($orange, 100%, 100%);

        top: 0;
        left: 0;
        z-index: 2;
        transform: scale(0, 1);
        transform-origin: top right;
        transition: transform 500ms cubic-bezier(.86, 0, .07, 1);
        transition-timing-function: cubic-bezier(.86, 0, .07, 1);
    }

    span {
        position: relative;
        z-index: 2;
    }

    &:hover {
        transform: scale(0.95);
        color: $white;
        box-shadow: 0 12px 24px -10px rgba(21, 59, 93, 0.46);

        &::before {
            transform: scale(1, 1);
            transform-origin: bottom left;
        }
    }

    @mixin common {
        padding: .8rem 2rem;
        font-size: .7rem;

        &:hover {
            transform: scale(1);
        }
    }

    &--close {
        @include common;

        &::before {
            background: rgb(170, 3, 3);
        }
    }

    &--select {
        @include common;

        background: $blue;

        &::before {
            background: #28a745;
        }
    }

    &--purple {
        background: $blue;
    }
}

.btn-stylev2 {
    border-radius: 3px;
    background: $blue;
    padding: .6rem 1.5rem;
    color: $white;
    text-transform: uppercase;
    font-size: .73rem;
    min-width: 100px;
    @include trans(all .2s);

    &:focus {
        box-shadow: none;
    }

    &:hover {
        color: $white;
        box-shadow: 0 12px 24px -10px rgba(21, 59, 93, 0.46);
        transform: scale(.95);
    }
}

.content {
    font-size: .85rem;
    font-weight: 500;
    padding-bottom: .5rem;

    &__subject {
        font-weight: 800;
        color: $dark-blue;
        line-height: 18px;

        &:hover {
            color: $orange;
        }
    }

    &__rate {
        color: $black;

        img {
            width: .7rem !important;
        }
    }

    &__price {
        font-size: .75rem;

        span {
            font-weight: bold;
            color: $dark-blue;
        }

        &.v2 {
            @include center-item(flex, space-between, center);
        }

        div {
            font-size: .75rem;
        }
    }

    &__name {
        font-weight: 800;
        color: $dark-blue;
        @include center-item(flex, start, center);

        &:hover {
            color: $orange;
        }

        img {
            margin-right: .8rem;
        }

        &.visit {
            color: #F98D2A;
        }

        &.heli {
            color: #10CB2E;
        }

        &.seaplane {
            color: #14A1CD;
        }
    }

    &__calendar {
        color: rgb(167, 167, 167);
    }

    &__description {
        line-height: 1.15rem;
        color: rgb(112, 112, 112);
    }

    &__subject-article {
        font-size: .875rem;
        text-transform: uppercase;
        font-weight: bold;
        margin-bottom: 1rem;
        line-height: 20px;
        color: $blue;

        &:hover {
            color: $orange;
        }
    }
}

.content-detail {

    p,
    span {
        text-align: justify;
        font-size: .875rem;
        line-height: 1.4rem;
    }

    p {
        margin-bottom: .7rem;
    }

    img {
        max-width: 100%;
        height: auto;
        object-fit: cover;
    }

    h1,
    h2 {
        font-size: 1.25rem;
    }

    h3 {
        font-size: 1.125rem;
    }

    h4,
    h5,
    h6 {
        font-size: 1rem;
    }

    table {
        max-width: 100%;
    }

    .subject {
        color: $dark-blue;
        font-size: 1.2rem;
        font-weight: 900;
        text-transform: uppercase;
        margin-bottom: .6rem;
        line-height: 1.6rem;
    }

    .content__rate {
        font-weight: bold;
        color: $dark-blue;

        img {
            object-fit: contain;
            margin-left: .2rem;
        }
    }
}

.sapo-detail {
    background: #e7e7e7;
    padding: 1rem;
    font-style: italic;
    margin: 1rem 0;
    line-height: 20px;
}

.pagination {
    @include center-item(flex, flex-end, center);

    width: calc(100% - 300px);
    padding-left: 2rem;

    .page-link {
        background: $blue;
        color: $white;
        font-size: .85rem;
        font-weight: bold;
        border: 1px solid $white;

        &.active {
            background: $orange;
        }

        &:focus {
            box-shadow: none;
        }

        &:hover {
            background: $orange;
        }
    }
}

.breadcrumb-wrapper {
    height: 270px;
    background: $dark;
    position: relative;
    z-index: 1;

    &::before {
        @include befo(rgba(21, 116, 194, 0.3), 100%, 100%);

        top: 0;
        left: 0;
        z-index: 2;
    }

    .container {
        display: flex;
        justify-content: space-between;
    }
}

.breadcrumb-img {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.breadcrumb-title {
    position: absolute;
    top: 50%;
    font-size: 1.8rem;
    color: $white;
    font-weight: 800;
    text-transform: uppercase;
    transform: translateY(-50%);
    z-index: 3;
    text-shadow: $dark 1px 1px;
}

.bread-crumb {
    position: absolute;
    bottom: 0;
    right: 18.4%;
    z-index: 3;
    color: $white;
    background: $dark;
    padding: 1rem 1rem 1rem 2.5rem;

    &::before {
        position: absolute;
        left: 100%;
        top: 18px;
        bottom: 0;
        width: 21px;
        background-color: $dark;
        content: "";
    }

    &::after {
        position: absolute;
        left: 100%;
        top: 0;
        border-right: 21px solid transparent;
        border-bottom: 18px solid $dark;
        content: "";
    }

    a {
        font-size: .7rem;
        font-weight: bold;
        text-transform: uppercase;
        color: $blue;
        margin-right: 1rem;
        padding-right: 1rem;
        position: relative;
        @include hover;

        &.active {
            color: $white;
            padding-right: 0;

            &::before {
                display: none;
            }
        }

        &::before {
            @include befo($blue, 3px, 3px);

            bottom: 2px;
            right: 0;
            border-radius: 50%;
        }
    }
}

.modal-dialog {
    max-width: 650px;

    &::-webkit-scrollbar {
        width: 1px;
        background-color: $dark-blue;
    }
}

.modal {
    &::-webkit-scrollbar {
        width: 1px;
        background-color: $dark-blue;
    }
}

// .modal-dialog-ferry{
//     max-width: 1000px;
// }

.group-info {
    border: 1px solid #e4e5ec;
    border-top: 3px solid $blue;
    padding: 1rem;

    input,
    select {
        height: 34px !important;
    }
}

.click-round-trip {
    cursor: pointer;

    &:hover {
        color: $blue;
    }
}

.round-trip {
    height: 0;
    overflow: hidden;
    @include trans(all .3s);
}

.show-round-trip {
    .round-trip {
        padding-top: 2rem;
        height: 327px
    }
}

.count-result {
    font-size: .85rem;

    span {
        color: $blue;
        font-style: italic;
        font-weight: bold;
    }
}

.search-plus {
    margin-bottom: 1.5rem;

    input,
    .btn {
        height: 25px !important;
        font-size: .875rem;
    }

    input {
        width: 300px !important;
    }

    .btn {
        padding: 0;
    }
}