.img-banner{
    height: 800px;
    object-fit: cover;
}

.banner-owl{
    .item{
        position: relative;
        &::before{
            @include befo(rgba(0, 0, 0, 0.3), 100%, 100%);
            
            top: 0;
            left: 0;
        }
        h2{
            position: absolute;
            top: 200px;
            left: 0;
            display: block;
            width: 200px;
            font-size: 4.5rem;
            line-height: 1.1em;
            color: $white;
            font-weight: 800;
            text-transform: uppercase;
            letter-spacing: -1px;
            opacity: 0;
            transform: translateX(-100px);
            text-shadow: 1.5px 1.5px rgb(17, 17, 17);
            @include trans(all 1s ease .6s);
        }
    }

    .active {
        h2 {
            transform: translateX(0);
            opacity: 1;
        }
    }

    .owl-nav{
        display: none;
    }

    .owl-dots{
        position: absolute;
        top: 50%;
        right: 13%;
        transform: translateY(-50%);
    
        .owl-dot{
            border: 5px solid $dark-gray;
            height: 20px;
            width: 20px;
            display: block;
            margin: 1rem;
            &.active{
                border-color: $white;
            }
        }
    }
}

.img-category{
    height: 40px;
    object-fit: contain;
    width: 100%;
    margin-bottom: 1.5rem;
}

.row-serivce{
    text-align: center;

    >[class*="col-"] {
        padding-right: .525rem;
        padding-left: .525rem;
    }
    a {
        color: #c2c5d4;
        font-weight: 800;
        text-transform: uppercase;
        font-size: .8rem;
        &:hover{
            color: #38517d;
        }
    }
    p{
        margin-top: 1rem;
    }
}

.col-partner {
    width: calc( 100% / 6 );
}

.inner{
    position: relative;
    background-color: $blue;
    padding: 2.5rem 2rem;
    box-shadow: rgba(21, 59, 93, 0.46) 0 4px 4px -10px;
    @include trans(all .2s);
    &::before{
        position: absolute;
        right: 0;
        top: 0;
        border-left: 20px solid transparent;
        border-top: 20px solid #f4f5fb;
        content: "";
    }
    p{
        color: $white;
        @include trans(all .2s);
    }

    &:hover{
        background: $dark-blue;
        transform: translateY(-8px);
        box-shadow: rgba(21, 59, 93, 0.46) 0 12px 24px -10px;
    }
}

.title{
    color: $dark-blue;
    text-transform: uppercase;
    font-size: 1.3rem;
    font-weight: 800;
    letter-spacing: -0.5px;
    position: relative;
    z-index: 2;
    span{
        color: $orange;
        font-size: .7rem;
        display: block;
        margin-bottom: .8rem;
        font-weight: 600;
    }
    &--left{
        font-size: 2.5rem;
        color: $white;
        letter-spacing: -0.8px;
        line-height: 3.5rem;
        text-shadow: rgb(18 18 18) 1px 1px;
        span{
            font-size: .8rem;
            line-height: 1rem;
        }
    }
    &.mt-at{
        margin-top: 120px;
    }
    &--white{
        font-size: 2.2rem;
        span{
            color: $white;
        }
        a{
            font-weight: 600;
            font-size: 2rem;
            display: block;
        }
    }
}

.view-all{
    color: $blue;
    font-size: .875rem;
    position: relative;
    margin-right: 1rem;
    &:hover{
        color: $dark-blue;
        &::before{
            right: -1.1rem;
            border: solid $dark-blue;
            border-width: 0 1.5px 1.5px 0;
        }
    }
    &::before{
        @include befo(none, 0, 0);

        top: 5px;
        right: -0.7rem;
        border: solid $blue;
        border-width: 0 1.5px 1.5px 0;
        display: inline-block;
        padding: 2px;
        transform: rotate(-45deg);
        @include trans(all .2s);
    }
}

.item-order{
    &__img{
        border-radius: .3rem;
        position: relative;
        overflow: hidden;
        &::before{
            @include befo(none, 100%, 0);

            background-image: linear-gradient(147deg, $blue 0%, $dark-blue 74%);
            top: 0;
            left: 0;
            color: $white;
            opacity: .5;
            z-index: 2;
            @include trans(all .3s);
        }
        img{
            border-radius: .3rem;
            height: 180px;
            @include trans(all .4s);
        }
        &:hover{
            img{
                transform: scale(1.1) rotate(2deg);
            }
            &::before{
                height: 100%;
            }
            .icon-plus{
                opacity: 1;
                visibility: visible;
            }
        }
    }
    .icon-plus{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: $white;
        z-index: 3;
        font-weight: bold;
        text-transform: uppercase;
        text-shadow: 1.5px 1.5px rgb(22, 22, 22);
        opacity: 0;
        visibility: hidden;
        @include trans(all .3s);
    }
}

.title-center{
    text-align: center;
    font-size: 1.7rem;
    font-weight: 900;
}

.box-ferry{
    &__img{
        position: relative;
        img{
            height: 220px;
            border-radius: 10px;
        }
        &:hover{
            img{
                transform: scale(1.02);
            }
        }
    }
}

.sticky-ferry{
    position: absolute;
    bottom: 0;
    left: 2rem;
    transform: translateY(40%);
    background: none;
    width: 200px;
    height: 34px;
    @include center-item(flex, center, center);
    &::before{
        @include befo($dark-blue, 100%, 100%);

        clip-path: polygon(94% 0, 100% 25%, 100% 100%, 0 100%, 0 0);
        top: 0;
        left: 0;
        border-radius: 4px;
    }
    span{
        position: relative;
        z-index: 2;
        color: $white;
        font-size: .72rem;
        display: flex;
        align-items: center;
        text-transform: uppercase;
    }
    img{
        width: 20px;
        height: 20px;
    }
}

.point-go-come{
    @include center-item(flex, space-around, center);

    img{
        height: 20px;
    }
}

.port{
    color: $dark-blue;
    font-size: .875rem;
    font-weight: bold;
}

.double-arrow{
    position: relative;
    &::before{
        @include befo(none, 0, 0);

        top: 7px;
        left: -1.5rem;
        border: solid $blue;
        border-width: 0 2px 2px 0;
        display: inline-block;
        padding: 3px;
        transform: rotate(-45deg);
        @include trans(all .2s);
    }
    &::after{
        @include befo(none, 0, 0);

        top: 7px;
        right: -1.5rem;
        border: solid $red;
        border-width: 0 2px 2px 0;
        display: inline-block;
        padding: 3px;
        transform: rotate(-45deg);
        @include trans(all .2s);
    }
}

.time-ferry{
    @include center-item(flex, space-around, center);

    font-size: .75rem;
    color: $dark;
    .time-run{
        position: relative;
        left: -0.8rem;
    }
}

.why-choose-us{
    background: $dark;
    padding: 110px 0 100px;
    position: relative;
    &::before{
        @include befo($blue, 70%, 100%);

        background: url('../img/banner/sea-1.jpg') no-repeat;
        top: 0;
        left: 30%;
        background-size: cover;
    }
    &::after{
        @include befo(#24262d6c, 100%, 100%);
        
        top: 0;
        left: 0;
    }
}

.box-choose{
    background: $white;
    padding: 4rem 5rem 5rem;
    position: relative;
    z-index: 2;
    margin-right: 5rem;
    &::before{
        position: absolute;
        left: 0;
        right: 21px;
        top: -18px;
        height: 18px;
        background-color: $white;
        content: "";
    }
    &::after{
        position: absolute;
        right: 0;
        top: -18px;
        border-bottom: 18px solid $white;
        border-right: 21px solid transparent;
        content: "";
    }
}

.feature-list{
    position: relative;
    counter-reset: count;
    li{
        position: relative;
        display: block;
        font-size: 1rem;
        line-height: 2em;
        color: $dark;
        font-weight: 600;
        text-transform: uppercase;
        letter-spacing: -0.6px;
        margin-bottom: 2rem;
        padding-left: 3rem;
        &::before{
            position: absolute;
            left: 0;
            top: 0;
            font-size: 18px;
            line-height: 2em;
            font-weight: 600;
            counter-increment: count;
            content: "0" counter(count);
            color: $orange;
            text-transform: uppercase;
        }
    }
}

.section-contact{
    padding: 60px 0;
    background-color: #2a88dade;
    text-align: center;
    position: relative;
    &::before{
        @include befo(none, 100%, 100%);

        top: 0;
        left: 0;
        background: url('../img/banner/contact-bg.jpg') no-repeat center ;
        background-attachment: fixed;
        background-size: cover;
        opacity: .1;
    }
}

.box-article{
    position: relative;
    color: $white;
    @mixin common-article{
        @include befo(rgba(0, 0, 0, 0.1), 100%, 100%);
        @include trans(all .3s ease-in-out);
    }
    &::before{
        left: 0;
        top: 0;
        @include common-article;
    }
    &::after{
        right: 0;
        bottom: 0;
        @include common-article;
    }
    &:hover{
        &::before, &::after{
            height: 0;
            width: 0;
        }
    }
    &__subject{
        position: absolute;
        top: 1rem;
        left: 1rem;
        z-index: 2;
        line-height: 20px;
        font-weight: bold;
        font-size: 1.15rem;
        text-shadow: #121212 1px 1px;
    }
    &__description{
        position: absolute;
        bottom: 0;
        padding: 3rem 1rem 1rem;

        &::before{
            @include befo(none, 100%, 100%);
            
            background: linear-gradient(180deg,rgba(0,0,0,0) 0%,rgba(0,0,0,.93) 100%);
            top: 0;
            left: 0;
        }
        p{
            position: relative;
            z-index: 2;
            font-size: .875rem;
            line-height: 20px;
        }
    }
}

.article-small{
    .box-article__subject{
        font-size: .875rem;
        top: .6rem;
        left: .6rem;
    }
    .box-article__description {
        padding: 2rem .6rem .6rem;

        p{
            font-size: .65rem;
            line-height: 1rem;
        }
    }
}

.img-article-big{
    object-fit: cover;
    height: 380px;
    width: 100%;
}

.img-article-small{
    object-fit: cover;
    height: 182.5px;
    width: 100%;
}