.border-style{
    position: relative;
    padding: 3.5% 0 0 3.5%;
    &::before{
        @include befo(none, 95%, 85%);

        top: 0;
        left: 0;
        border: 1px solid #c2c5d4;
    }
}

.content-style{
    position: relative;
    z-index: 2;
    box-shadow: inset 0 0 0 0 #dfe2f0, 0 10px 20px 0 rgb(192 196 215 / 25%);
    border-radius: 3px;
    background: $white;
    overflow: hidden;
}

.title-style{
    position: absolute;
    top: 0;
    left: 4%;
    font-weight: 900;
    font-size: 1.4rem;
    color: $dark-blue;
    text-transform: uppercase;
    background: #f4f5fb;
    padding: 0 .8rem;
    transform: translateY(-50%);
}

.login-form{
    padding: 2rem;
    input{
        border-radius: 2px;
        height: 44px;
        font-size: .85rem;
        &:focus{
            box-shadow: none;
            border-color: $blue;
        }
    }
    .iti.iti--allow-dropdown {
        width: 100%;
    }
    label{
        font-weight: 800;
        color: $dark-blue;
        margin-bottom: .8rem;
        display: block;
        text-transform: uppercase;
        font-size: .72rem;
    }
    .btn-style{
        width: 100%;
        padding: 1rem 3rem;
        height: 44px;
        font-size: .75rem;
        &:hover{
            transform: scale(1);
        }
        // &::before{
        //     background: $blue;
        // }
    }
}

.select {
    input[type="checkbox"] + label {
        display: block;
        margin: 0.2em;
        cursor: pointer;
        padding: 0.2em;
    }

    input[type="checkbox"] {
        display: none;
    }

    input[type="checkbox"] + label::before {
        content: "✔";
        border: 1.8px solid $dark-blue;
        border-radius: .2em;
        display: inline-block;
        font-size: .7rem;
        width: 16px;
        height: 16px;
        padding-top: .1em;
        padding-left: .18em;
        padding-bottom: .1em;
        margin-right: .2em;
        vertical-align: bottom;
        color: transparent;
        position: relative;
        top: 1px;
        font-style: normal;
        @include trans(all .2s);
    }

    input[type="checkbox"] + label:active::before {
        transform: scale(0);
    }

    input[type="checkbox"]:checked + label::before {
        background: $blue;
        border-color: $blue;
        color: #fff;
    }

    input[type="checkbox"]:disabled + label::before {
        transform: scale(1);
        border-color: #aaa;
    }

    input[type="checkbox"]:checked:disabled + label::before {
        transform: scale(1);
        background-color: #bfb;
        border-color: #bfb;
    }
    span{
        text-transform: none;
        font-weight: 600;
        font-size: .8rem;
    }
    strong{
        color: rgb(231, 17, 17);
    }
}

.forget-password{
    color: $dark;
    font-size: .8rem;
    font-weight: 600;
    &:hover{
        color: rgb(231, 17, 17);
    }
}

.register-link{
    font-size: .75rem;
    font-weight: 600;
    a{
        color: rgb(231, 17, 17);
        font-weight: 800;
        @include hover;
    }
}

.img-bg-login{
    height: 100%;
}