.nav-tabs-resort{
    border-bottom: none;
    background: $white;
    display: flex;
    .nav-item{
        font-size: .75rem;
        font-weight: bold;
        text-transform: uppercase;
        border-radius: 0;
        width: calc(100% / 6);
        padding: 1.5rem 1rem;
        position: relative;
        border: none;
        @include center-item(flex, center, center);
        &.active{
            background: $blue;
            color: $white;
        }
        &:hover{
            background: $blue;
            color: $white;
        }
        &::before{
            position: absolute;
            right: 0;
            top: 0;
            border-right: 18px solid #fff;
            border-bottom: 21px solid transparent;
            content: "";
        }
    }
}

@mixin common-befo{
    &::before{
        position: absolute;
        left: 0;
        right: 21px;
        top: -1rem;
        height: 1rem;
        background-color: $dark;
        content: "";
    }
    &::after{
        position: absolute;
        right: 0;
        top: -1rem;
        border-bottom: 1rem solid $dark;
        border-right: 21px solid transparent;
        content: "";
    }
}

#search-resort{
    background: $dark;
    padding: 0 1.5rem .7rem;
    position: relative;
    @include common-befo;

    .form-group{
        display: flex;
    }
    input{
        width: 80%;
        padding-top: 0;
    }
    .btn{
        width: 20%;
        font-size: 1.3rem;
    }

    input, .btn{
        height: 50px;
        color: $white;
        background: transparent;
        border: none;
        &:focus{
            box-shadow: none;
        }
    }
}

.box-border{
    border: 1px solid rgb(216, 216, 216);
    border-top: none;
    padding: 1rem 1.5rem;
}

.title-box-border{
    position: relative;
    background: $dark;
    padding: .3rem 1.5rem 1.2rem;
    color: $white;
    font-weight: 800;
    font-size: .9rem;
    text-transform: uppercase;
    @include common-befo;
}

.category-v2{
    li{
        padding: .6rem 0;
    }
    a{
        text-transform: uppercase;
        font-size: .8rem;
        font-weight: 600;
        @include hover;
    }
}

.img-relate{
    height: 90px;
    width: 90px;
    border-radius: 3px;
}

.media-relate{
    margin-bottom: 1.3rem;
    &:last-child{
        margin-bottom: 0;
    }
    .content__calendar{
        font-size: .73rem;
    }
}

.img-banner-resort{
    height: 423px;
    object-fit: center;
}

.banner-detail-owl{
    position: relative;
    .owl-dots{
        display: none;
    }
    .owl-nav{
        position: absolute;
        width: 100%;
        top: 50%;
        button{
            background: rgba(0, 0, 0, 0.671) !important;
            height: 50px;
            width: 50px;
            position: absolute;
            transform: translateY(-50%);
        }
        i{
            color: $white;
            font-size: 2rem;
        }
        .owl-next{
            right: 0;
        }
    }
}

.nav-tabs-detail{
    border-bottom: 1px solid $white;
    .nav-link{
        text-transform: uppercase;
        font-size: .75rem;
        border: none;
        border-radius: 0;
        font-weight: bold;
        position: relative;
        background-color: $white;
        padding: .4rem 2rem .8rem;
        &::before{
            position: absolute;
            left: 0;
            right: 10px;
            top: -.5rem;
            height: .5rem;
            background-color: $white;
            content: "";
            @include trans(all .2s);
        }
        &::after{
            position: absolute;
            right: 0;
            top: -.5rem;
            border-bottom: .5rem solid $white;
            border-right: 10px solid transparent;
            content: "";
            @include trans(all .2s);
        }
        &.active{
            background: $blue;
            color: $white;
            &::before{
                background-color: $blue;
            }
            &::after{
                border-bottom: .5rem solid $blue;
            }
        }
    }
}

.select-day-order{
    position: relative;
    &::before{
        @include befo($blue, 100%, 1px);

        top: 18px;
        left: 0;
    }
    .check{
        font-size: .6rem;
        color: $blue;
        font-weight: 800;
        text-transform: uppercase;
    }
    .form-group{
        text-align: center;
        background: $white;
        position: relative;
    }
    input{
        font-size: .85rem;
        margin-bottom: .8rem;
        border-color: $blue;
        border-radius: 0;
        color: $blue;
        width: 160px;
        &:focus{
            box-shadow: none;
            border-color: $blue;
        }
    }
    &__title{
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        font-weight: 800;
        text-transform: uppercase;
        font-size: .75rem;
        color: $blue;
    }
}

.col-room {
    width: calc( 100% / 10 );
}

.room{
    display: block;
    position: relative;
    text-align: center;
    height: 73px;
    padding-top: 1rem;
    &::before{
        @include befo($orange, 20px, 20px);

        border-radius: 50%;
        left: 50%;
        top: 12.4px;
        transform: translateX(-50%);
        z-index: 2;
    }
    svg{
        margin: auto;
        transform: scale(1.6);
    }
    span{
        position: absolute;
        bottom: 8.5px;
        left: 50%;
        transform: translateX(-50%);
        color: $white;
        font-size: .75rem;
        font-weight: bold;
    }
    &.selected{
        svg path{
            fill: #005ca2;
        }
    }
    &.over{
        svg path{
            fill: $dark-gray;
        }
    }
}

.modal-open{
    padding-right: 0 !important;
}

.status-room{
    font-size: .875rem;
    position: relative;
    padding-right: 1.5rem;
    &::before{
        @include befo($dark-gray, .8rem, .8rem);

        top: 50%;
        right: 0;
        transform: translateY(-50%);
        border-radius: 50%;
    }

    &.selected{
        &::before{
            background: #005ca2;
        }
    }

    &.empty{
        &::before{
            background: $dark;
        }
    }
}

.title-child-detail{
    font-size: .75rem;
    padding: .3rem 1rem .7rem;
    &::before{
        top: -8px;
        height: 8px;
    }
    &::after{
        top: -8px;
        border-bottom: 8px solid $dark;
    }
}

.img-view-detail-room{
    height: 230px;
}

.number-room{
    padding-bottom: 1rem;
    font-weight: 900;
    text-align: center;
    font-size: 1.3rem;
}

.day-booking-room{
    font-size: .75rem;
    font-weight: 600;
    div:first-child{
        color: $dark-gray;
    }
}

.price-room{
    font-weight: bold;
    &__title{
        font-size: .8rem;
    }
    &__price{
        color: #004184;
    }
    strong{
        color: #d41b1b;
    }
}

.select-room{
    position: relative;
    border-radius: .75rem;
    overflow: hidden;
    
    .close{
        position: absolute;
        top: .5rem;
        right: 1rem;
        z-index: 2;
        color: $white;
        font-size: 2rem;
    }
}

.radius-modal{
    border-radius: .35rem;
    border-top: 5px solid $blue;
    .close{
        color: $dark-blue;
        font-size: 1rem;
    }
}

.filter-area{
    @include center-item(flex, space-between, center);

    select{
        width: 297px;
        border-radius: 0;
        background-color: $blue;
        color: $white;
        border: none;
        cursor: pointer;
        -webkit-appearance: none;
        -moz-appearance: none;
        font-size: .875rem;
        padding-left: 1.5rem;
        &:focus{
            background-color: $blue;
            color: $white;
            box-shadow: none;
        }
    }
}

.box-select{
    position: relative;
    background-color: $blue;
    padding: .3rem;
    &::before{
        position: absolute;
        right: 0;
        top: 0;
        border-right: 17px solid $white;
        border-bottom: 21px solid transparent;
        content: "";
    }
    i{
        font-size: 1rem;
        color: $white;
        position: absolute;
        top: 50%;
        right: 2rem;
        transform: translateY(-68%);
    }
}

.modal-payment{
    max-width: 800px;
    .modal-title{
        font-size: 1.2rem;
        font-weight: 900;
        text-transform: uppercase;
        color: $dark-blue;
    }
    &__bold{
        font-weight: 600;
        margin-bottom: 1rem;
        line-height: 20px;
        &.blue{
            color: $dark-blue;
        }
        &.name{
            text-transform: uppercase;
            color: $dark-blue;
            font-weight: bold;
        }
        .vat{
            color: $dark-gray;
            font-weight: 500;
            font-size: .75rem;
        }
    }
}

.description{
    text-transform: uppercase;
    color: $dark-gray;
    font-size: .8rem;
    margin-bottom: 1rem;
}

.form-payment{
    input, select{
        border-radius: 1px;
        height: 40px;
        font-size: .85rem;
        &:focus{
            box-shadow: none;
            border-color: $blue;
        }
    }
    .form-group{
        position: relative;
        padding-top: 1rem;
        margin-bottom: .3rem;
    }
    label{
        position: absolute;
        top: 0;
        left: .5rem;
        background-color: $white;
        font-size: .7rem;
        padding: .5rem .6rem 0;
        text-transform: uppercase;
        transform: translateY(15%);
        color: $dark-blue;
        font-weight: bold;
    }

    #vehicle{
        width: 200px;
    }
}

.total-money{
    font-weight: 600;
    span{
        font-weight: 800;
        color: rgb(201, 8, 8);
        font-size: 1.3rem;
        padding-left: .5rem;
        &:last-child{
            color: $dark-gray;
            font-weight: 500;
            font-size: .75rem;
        }
    }
}